html {
	box-sizing: border-box;
	overflow: hidden;
}

*: {
	box-sizing: inherit;
}

body {
  background-image: url("images/day.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Orbitron', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hello"
    "time"
    "date";
}

#hello {
  color: #FFFFFF;
  grid-area: hello;
  text-align: left;
  padding: 20px;
}

#time {
  color: #FFFFFF;
  grid-area: time;
	position: relative;
	margin: auto;
	overflow: hidden;
}

#secondes, #minutes, #hours {
	position: relative;
}

p {
  display: inline-block;
}

#date {
  color: #FFFFFF;
  grid-area: date;
  text-align: left;
  padding: 20px;
}


@media only screen and (min-width: 0px) { /* mobiel */

  #hello {
    font-size: 20px;
    padding: 20px;
  }

  #time {
    font-size: 50px;
    line-height: 68vh;
    left: calc(50% - 150px);
  }

  #date {
    font-size: 15px;
    padding: 20px;
  }

}

@media only screen and (min-width: 601px) { /* tablet */

  #hello {
    font-size: 25px;
    padding: 20px;
  }

  #time {
    font-size: 80px;
    line-height: 59vh;
    left: calc(50% - 260px);
  }

  #date {
    font-size: 20px;
    padding: 20px;
  }

}

@media only screen and (min-width: 1020px) { /* laptop */

  #hello {
    font-size: 30px;
  }

  #time {
    font-size: 120px;
    line-height: 46vh;
    left: calc(50% - 360px);
  }

  #date {
    font-size: 25px;
  }

}

@media only screen and (min-width: 1620px) { /* groot scherm */

  #hello {
    font-size: 30px;
  }

  #time {
    font-size: 140px;
    line-height: 55vh;
    left: calc(50% - 370px);
  }

  #date {
    font-size: 25px;
  }

}
